<h5>The algorithm takes everything after the last '/' and removes every second character, then adds a '#' at the start and at the end of the resulting url (to differ it from another url)</h5>
<h5>Just copy the short url from the table and watch it redirect you to the full url!</h5>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Understood</a>