@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><a asp-controller="Url" asp-action="ShortUrlsTable">View the table</a></p>
    <p><a asp-controller="Url" asp-action="About">Info about the shortening algorithm</a></p>
</div>
